<div class="container">
	<h1>Edit your phone</h1>
	<%= form_for @phone,url: phone_path(@phone) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :price %>
		<%= f.number_field :price %>
		<%= f.submit :Edit %>
	<%end%>
</div>
