<div class='box1'>
	<h1 Your Order></h1>
	<h3> Name phone:<%= @order.namephone %> </h3>
	Number:<%= @order.num %>
	<br/>
	Customer:<%= @order.namecustomer %>
	<br/>
	Phone:<%= @order.phonenumber %>
	<br/>
	Address:<%= @order.address %>
</div>
