<div class="container">
	<h1>Edit your product </h1>
	<%= form_for @product,url: product_path do |f| %>
		<%= f.label :Name%>
		<%= f.text_field :name%>
		<%= f.submit :Create %>
	<%end%>
	<%= link_to "Home",welcome_home_path %>
</div>
