<h1>Your all products</h1>

<%= link_to 'New item',new_product_path %>
<%= link_to 'Home',welcome_home_path %>
<br/>
<% @products.each do |t| %>
<table>
	<tr>
		<td><%= link_to t.name,t %></td>
		<td><%= link_to 'Edit',edit_product_path(t)%>|</td>
		<td><%= link_to 'delete',product_path(t),method: 'delete',data: {confirm: "Are you sure ?"}%></td>
	</tr>
</table>
<%end%>
