<h1>Your item</h1>

<h3><%= @product.name %></h4>
So luong: <%= @product.num %>
Gia: <%= @product.price %>đ
<% if logged_in?%>
	<% if current_user.admin? %>
		<%= link_to 'Edit',edit_product_path%>
	<%end%>
<%end%>
<%= link_to 'Home',welcome_home_path%>

